.marquee{
    width: 200px;
    height: 200px;
    background-color: hotpink;
}
.gif {
    width: 100px;
    height: 100px;
    background-image: url(../assets/logo_small.png);
  }
.png {
    width: 100px;
    height: 100px;
    background-image: url(../assets/1.gif);
  }